In [40]:
import pandas as pd
import json
# import requests
# import time
# only works in the base environment, if needed:
# import openpyxl

url = "https://www.cato.org/sites/cato.org/files/2021-12/HFI2021.json"
path = "/Users/nicol/Dropbox/Programming/HumanFreedomIndexProject/HFI2021.json"

df1 = pd.read_json(path)
# df1
# print(df1)

df2 = df1.sort_values("region", ascending = True)
# df2.head(n=5)
# df2.to_csv("df2.csv", index = False)

# big picture stats:
# df1.describe()

# list all columns
# cols = list(df1.columns.values)
# print(cols)

# to iterate through all rows - keep for later
# for index, row in df1.iterrows(): 
#     print(index, row)

df3 = df1.drop(columns=['ISO', 'ef_government_consumption', 'ef_government_transfers', 'ef_government_enterprises', 'ef_government_tax_income', 'ef_government_tax_payroll', 'ef_government_tax', 'ef_government_soa', 'ef_government', 'ef_legal_judicial', 'ef_legal_courts', 'ef_legal_protection', 'ef_legal_military', 'ef_legal_integrity', 'ef_legal_enforcement', 'ef_legal_regulatory', 'ef_legal_police', 'ef_legal', 'ef_money_growth', 'ef_money_sd', 'ef_money_inflation', 'ef_money_currency', 'ef_money', 'ef_trade_tariffs_revenue', 'ef_trade_tariffs_mean', 'ef_trade_tariffs_sd', 'ef_trade_tariffs', 'ef_trade_regulatory_nontariff', 'ef_trade_regulatory_compliance', 'ef_trade_regulatory', 'ef_trade_black', 'ef_trade_movement_foreign',
                        'ef_trade_movement_capital', 'ef_trade_movement_visit', 'ef_trade_movement', 'ef_trade', 'ef_regulation_credit_ownership', 'ef_regulation_credit_private', 'ef_regulation_credit_interest', 'ef_regulation_credit', 'ef_regulation_labor_minwage', 'ef_regulation_labor_firing', 'ef_regulation_labor_bargain', 'ef_regulation_labor_hours', 'ef_regulation_labor_dismissal', 'ef_regulation_labor_conscription', 'ef_regulation_labor', 'ef_regulation_business_adm', 'ef_regulation_business_bureaucracy', 'ef_regulation_business_start', 'ef_regulation_business_bribes', 'ef_regulation_business_licensing', 'ef_regulation_business_compliance', 'ef_regulation_business', 'ef_regulation', 'ef_score', 'ef_rank'])


cols = list(df3.columns.values)
print(cols)

df3.head(n=5)

['year', 'countries', 'region', 'hf_score', 'hf_rank', 'hf_quartile', 'pf_rol_procedural', 'pf_rol_civil', 'pf_rol_criminal', 'pf_rol', 'pf_ss_homicide', 'pf_ss_disappearances_disap', 'pf_ss_disappearances_violent', 'pf_ss_disappearances_organized', 'pf_ss_disappearances_fatalities', 'pf_ss_disappearances_injuries', 'pf_ss_disappearances_torture', 'pf_ss_killings', 'pf_ss_disappearances', 'pf_ss', 'pf_movement_vdem_foreign', 'pf_movement_vdem_men', 'pf_movement_vdem_women', 'pf_movement_vdem', 'pf_movement_cld', 'pf_movement', 'pf_religion_suppression', 'pf_religion_freedom_vdem', 'pf_religion_freedom_cld', 'pf_religion_freedom', 'pf_religion', 'pf_assembly_entry', 'pf_assembly_freedom_house', 'pf_assembly_freedom_bti', 'pf_assembly_freedom_cld', 'pf_assembly_freedom', 'pf_assembly_parties_barriers', 'pf_assembly_parties_bans', 'pf_assembly_parties_auton', 'pf_assembly_parties', 'pf_assembly_civil', 'pf_assembly', 'pf_assembly_rank', 'pf_expression_killed', 'pf_expression_jailed', 'pf_expression_media', 'pf_expression_cultural', 'pf_expression_gov', 'pf_expression_internet', 'pf_expression_harass', 'pf_expression_selfcens', 'pf_expression_freedom_bti', 'pf_expression_freedom_cld', 'pf_expression_freedom', 'pf_expression', 'pf_expression_rank', 'pf_identity_same_m', 'pf_identity_same_f', 'pf_identity_same', 'pf_identity_divorce', 'pf_identity_fgm', 'pf_identity_inheritance_widows', 'pf_identity_inheritance_daughters', 'pf_identity_inheritance', 'pf_identity', 'pf_score', 'pf_rank', 'pf_womens']

,year,countries,region,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,...,pf_identity_same,pf_identity_divorce,pf_identity_fgm,pf_identity_inheritance_widows,pf_identity_inheritance_daughters,pf_identity_inheritance,pf_identity,pf_score,pf_rank,pf_womens
0,2019,Albania,Eastern Europe,8.14,43.0,2.0,5.97,4.76,4.26,5.00,...,10.0,7.5,10.0,NaN,NaN,7.5,8.75,8.38,45.0,8.97
1,2019,Algeria,Middle East & North Africa,5.26,154.0,4.0,5.21,5.64,4.35,5.07,...,0.0,0.0,10.0,NaN,NaN,0.0,2.50,5.51,141.0,3.78
2,2019,Angola,Sub-Saharan Africa,6.09,129.0,4.0,2.72,4.43,3.60,3.58,...,5.0,5.0,10.0,NaN,NaN,5.0,6.25,6.50,113.0,7.75
3,2019,Argentina,Latin America & the Caribbean,7.38,74.0,2.0,6.83,5.94,4.35,5.71,...,10.0,10.0,10.0,NaN,NaN,10.0,10.00,8.73,34.0,9.93
4,2019,Armenia,Caucasus & Central Asia,8.20,40.0,1.0,NaN,NaN,NaN,4.98,...,10.0,7.5,10.0,NaN,NaN,7.5,8.75,8.32,48.0,8.95

In [50]:
df3 = df3.sort_values("hf_score", ascending=False)

# single condition:
# df3.loc[df3["year"] == 2019]

#multiple conditions:
df3.loc[(df3["region"] == "Middle East & North Africa") & (df3["year"] == 2019)]

,year,countries,region,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,...,pf_identity_same,pf_identity_divorce,pf_identity_fgm,pf_identity_inheritance_widows,pf_identity_inheritance_daughters,pf_identity_inheritance,pf_identity,pf_score,pf_rank,pf_womens
74,2019,Israel,Middle East & North Africa,7.66,62.0,2.0,NaN,NaN,NaN,6.83,...,10.0,2.5,10.00,NaN,NaN,7.5,7.50,7.69,77.0,7.70
78,2019,Jordan,Middle East & North Africa,6.91,94.0,3.0,5.00,6.21,5.68,5.63,...,10.0,0.0,10.00,NaN,NaN,0.0,5.00,6.42,115.0,5.31
86,2019,Lebanon,Middle East & North Africa,6.76,108.0,3.0,4.80,4.20,3.46,4.15,...,5.0,0.0,10.00,NaN,NaN,2.5,4.38,6.76,106.0,5.88
152,2019,Tunisia,Middle East & North Africa,6.46,116.0,3.0,4.89,5.02,4.16,4.69,...,0.0,2.5,10.00,NaN,NaN,0.0,3.13,6.82,103.0,4.30
82,2019,Kuwait,Middle East & North Africa,6.34,121.0,3.0,NaN,NaN,NaN,5.52,...,5.0,2.5,10.00,NaN,NaN,0.0,4.38,6.07,120.0,5.89
124,2019,Qatar,Middle East & North Africa,6.15,128.0,4.0,NaN,NaN,NaN,6.34,...,0.0,0.0,10.00,NaN,NaN,0.0,2.50,5.48,142.0,2.74
156,2019,United Arab Emirates,Middle East & North Africa,6.06,131.0,4.0,5.12,6.75,6.74,6.21,...,0.0,0.0,10.00,NaN,NaN,0.0,2.50,5.20,150.0,2.83
115,2019,Oman,Middle East & North Africa,5.92,133.0,4.0,NaN,NaN,NaN,6.05,...,0.0,0.0,10.00,NaN,NaN,0.0,2.50,5.36,145.0,3.15
103,2019,Morocco,Middle East & North Africa,5.90,134.0,4.0,3.27,5.37,3.79,4.14,...,0.0,2.5,10.00,NaN,NaN,0.0,3.13,5.33,146.0,3.61
153,2019,Turkey,Middle East & North Africa,5.79,139.0,4.0,3.39,4.43,3.77,3.86,...,10.0,7.5,10.00,NaN,NaN,7.5,8.75,5.25,148.0,8.22
9,2019,Bahrain,Middle East & North Africa,5.73,143.0,4.0,NaN,NaN,NaN,5.96,...,10.0,0.0,10.00,NaN,NaN,0.0,5.00,4.59,157.0,5.31
1,2019,Algeria,Middle East & North Africa,5.26,154.0,4.0,5.21,5.64,4.35,5.07,...,0.0,0.0,10.00,NaN,NaN,0.0,2.50,5.51,141.0,3.78
128,2019,Saudi Arabia,Middle East & North Africa,5.12,155.0,4.0,NaN,NaN,NaN,5.45,...,0.0,0.0,10.00,NaN,NaN,0.0,2.50,3.89,161.0,2.79
89,2019,Libya,Middle East & North Africa,5.05,156.0,4.0,NaN,NaN,NaN,2.29,...,0.0,7.5,10.00,NaN,NaN,7.5,6.25,5.17,152.0,6.02
72,2019,Iraq,Middle East & North Africa,5.02,157.0,4.0,NaN,NaN,NaN,2.49,...,0.0,0.0,9.26,NaN,NaN,0.0,2.32,4.49,159.0,3.02
71,2019,"Iran, Islamic Rep.",Middle East & North Africa,4.53,160.0,4.0,2.49,5.52,3.72,3.91,...,0.0,0.0,10.00,NaN,NaN,0.0,2.50,4.14,160.0,3.09
46,2019,"Egypt, Arab Rep.",Middle East & North Africa,4.49,161.0,4.0,2.52,3.87,3.74,3.38,...,0.0,0.0,1.28,NaN,NaN,0.0,0.32,3.63,163.0,1.47
162,2019,"Yemen, Rep.",Middle East & North Africa,4.08,163.0,4.0,NaN,NaN,NaN,2.41,...,0.0,0.0,8.15,NaN,NaN,0.0,2.04,3.11,164.0,2.26
144,2019,Syrian Arab Republic,Middle East & North Africa,3.66,165.0,4.0,NaN,NaN,NaN,1.94,...,0.0,0.0,10.00,NaN,NaN,0.0,2.50,2.60,165.0,2.79

In [53]:
df3.loc[df3["region"] == "Middle East & North Africa"]
df3.groupby(["countries"]).mean()

df3

,year,countries,region,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,...,pf_identity_same,pf_identity_divorce,pf_identity_fgm,pf_identity_inheritance_widows,pf_identity_inheritance_daughters,pf_identity_inheritance,pf_identity,pf_score,pf_rank,pf_womens
473,2017,Switzerland,Western Europe,9.15,1.0,1.0,NaN,NaN,NaN,8.20,...,10.0,10.0,10.0,NaN,NaN,10.0,10.0,9.56,3.0,9.93
308,2018,Switzerland,Western Europe,9.14,1.0,1.0,NaN,NaN,NaN,8.21,...,10.0,10.0,10.0,NaN,NaN,10.0,10.0,9.56,4.0,9.93
604,2016,New Zealand,Oceania,9.14,1.0,1.0,8.37,7.88,7.36,7.87,...,10.0,10.0,10.0,10.0,10.0,10.0,10.0,9.50,5.0,9.98
769,2015,New Zealand,Oceania,9.13,1.0,1.0,8.37,7.88,7.36,7.87,...,10.0,10.0,10.0,10.0,10.0,10.0,10.0,9.50,6.0,9.98
274,2018,New Zealand,Oceania,9.12,2.0,1.0,8.35,7.84,7.22,7.80,...,10.0,10.0,10.0,NaN,NaN,10.0,10.0,9.52,7.0,9.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1955,2008,Sudan,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,2.96,...,NaN,0.0,NaN,NaN,NaN,NaN,0.0,3.55,163.0,1.96
1956,2008,Suriname,Latin America & the Caribbean,NaN,NaN,NaN,NaN,NaN,NaN,4.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.21
1961,2008,Tajikistan,Caucasus & Central Asia,NaN,NaN,NaN,NaN,NaN,NaN,3.17,...,NaN,2.5,NaN,NaN,NaN,NaN,2.5,5.08,150.0,4.57
1964,2008,Timor-Leste,South Asia,NaN,NaN,NaN,NaN,NaN,NaN,3.55,...,NaN,7.5,NaN,NaN,NaN,NaN,7.5,7.52,83.0,8.48
1977,2008,"Yemen, Rep.",Middle East & North Africa,NaN,NaN,NaN,NaN,NaN,NaN,3.65,...,NaN,0.0,NaN,NaN,NaN,NaN,0.0,4.89,154.0,2.49