In [54]:
import pandas as pd
import json
# import requests
# import time
# only works in the base environment, if needed:
# import openpyxl
# Or give it the path:
import sys
sys.path.append('C:/Users/nicol/anaconda3/Lib/site-packages')
import openpyxl

url = "https://www.cato.org/sites/cato.org/files/2021-12/HFI2021.json"
path = "/Users/nicol/Dropbox/Programming/HumanFreedomIndexProject/HFI2021.json"

df1 = pd.read_json(path)
# df1
# print(df1)

df2 = df1.sort_values("region", ascending = True)
# df2.head(n=5)

# big picture stats:
# df1.describe()

# list all columns
# cols = list(df1.columns.values)
# print(cols)

# to iterate through all rows - keep for later
# for index, row in df1.iterrows(): 
#     print(index, row)

df3 = df1.drop(columns=['ISO', 'ef_government_consumption', 'ef_government_transfers', 'ef_government_enterprises', 'ef_government_tax_income', 'ef_government_tax_payroll', 'ef_government_tax', 'ef_government_soa', 'ef_government', 'ef_legal_judicial', 'ef_legal_courts', 'ef_legal_protection', 'ef_legal_military', 'ef_legal_integrity', 'ef_legal_enforcement', 'ef_legal_regulatory', 'ef_legal_police', 'ef_legal', 'ef_money_growth', 'ef_money_sd', 'ef_money_inflation', 'ef_money_currency', 'ef_money', 'ef_trade_tariffs_revenue', 'ef_trade_tariffs_mean', 'ef_trade_tariffs_sd', 'ef_trade_tariffs', 'ef_trade_regulatory_nontariff', 'ef_trade_regulatory_compliance', 'ef_trade_regulatory', 'ef_trade_black', 'ef_trade_movement_foreign',
                        'ef_trade_movement_capital', 'ef_trade_movement_visit', 'ef_trade_movement', 'ef_trade', 'ef_regulation_credit_ownership', 'ef_regulation_credit_private', 'ef_regulation_credit_interest', 'ef_regulation_credit', 'ef_regulation_labor_minwage', 'ef_regulation_labor_firing', 'ef_regulation_labor_bargain', 'ef_regulation_labor_hours', 'ef_regulation_labor_dismissal', 'ef_regulation_labor_conscription', 'ef_regulation_labor', 'ef_regulation_business_adm', 'ef_regulation_business_bureaucracy', 'ef_regulation_business_start', 'ef_regulation_business_bribes', 'ef_regulation_business_licensing', 'ef_regulation_business_compliance', 'ef_regulation_business', 'ef_regulation', 'ef_score', 'ef_rank'])


cols = list(df3.columns.values)
print(cols)

# df3.head(n=5)

['year', 'countries', 'region', 'hf_score', 'hf_rank', 'hf_quartile', 'pf_rol_procedural', 'pf_rol_civil', 'pf_rol_criminal', 'pf_rol', 'pf_ss_homicide', 'pf_ss_disappearances_disap', 'pf_ss_disappearances_violent', 'pf_ss_disappearances_organized', 'pf_ss_disappearances_fatalities', 'pf_ss_disappearances_injuries', 'pf_ss_disappearances_torture', 'pf_ss_killings', 'pf_ss_disappearances', 'pf_ss', 'pf_movement_vdem_foreign', 'pf_movement_vdem_men', 'pf_movement_vdem_women', 'pf_movement_vdem', 'pf_movement_cld', 'pf_movement', 'pf_religion_suppression', 'pf_religion_freedom_vdem', 'pf_religion_freedom_cld', 'pf_religion_freedom', 'pf_religion', 'pf_assembly_entry', 'pf_assembly_freedom_house', 'pf_assembly_freedom_bti', 'pf_assembly_freedom_cld', 'pf_assembly_freedom', 'pf_assembly_parties_barriers', 'pf_assembly_parties_bans', 'pf_assembly_parties_auton', 'pf_assembly_parties', 'pf_assembly_civil', 'pf_assembly', 'pf_assembly_rank', 'pf_expression_killed', 'pf_expression_jailed', 'pf_expression_media', 'pf_expression_cultural', 'pf_expression_gov', 'pf_expression_internet', 'pf_expression_harass', 'pf_expression_selfcens', 'pf_expression_freedom_bti', 'pf_expression_freedom_cld', 'pf_expression_freedom', 'pf_expression', 'pf_expression_rank', 'pf_identity_same_m', 'pf_identity_same_f', 'pf_identity_same', 'pf_identity_divorce', 'pf_identity_fgm', 'pf_identity_inheritance_widows', 'pf_identity_inheritance_daughters', 'pf_identity_inheritance', 'pf_identity', 'pf_score', 'pf_rank', 'pf_womens']

In [55]:
df3[cols].dtypes

year                         int64
countries                   object
region                      object
hf_score                   float64
hf_rank                    float64
                            ...
pf_identity_inheritance    float64
pf_identity                float64
pf_score                   float64
pf_rank                    float64
pf_womens                  float64
Length: 68, dtype: object

In [56]:
# single condition:
df3 = df3.sort_values("hf_score", ascending=False)
df3 = df3.loc[df3["region"] == "Middle East & North Africa"]
df3

,year,countries,region,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,...,pf_identity_same,pf_identity_divorce,pf_identity_fgm,pf_identity_inheritance_widows,pf_identity_inheritance_daughters,pf_identity_inheritance,pf_identity,pf_score,pf_rank,pf_womens
1064,2013,Israel,Middle East & North Africa,7.71,56.0,2.0,NaN,NaN,NaN,6.72,...,10.0,2.5,10.0,10.0,10.0,10.0,8.13,7.86,64.0,8.20
734,2015,Israel,Middle East & North Africa,7.67,58.0,2.0,NaN,NaN,NaN,7.01,...,10.0,2.5,10.0,10.0,10.0,10.0,8.13,7.73,70.0,8.20
569,2016,Israel,Middle East & North Africa,7.66,58.0,2.0,NaN,NaN,NaN,6.86,...,10.0,2.5,10.0,10.0,10.0,10.0,8.13,7.71,72.0,8.20
74,2019,Israel,Middle East & North Africa,7.66,62.0,2.0,NaN,NaN,NaN,6.83,...,10.0,2.5,10.0,NaN,NaN,7.5,7.50,7.69,77.0,7.70
404,2017,Israel,Middle East & North Africa,7.64,59.0,2.0,NaN,NaN,NaN,6.79,...,10.0,2.5,10.0,NaN,NaN,7.5,7.50,7.68,78.0,7.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1901,2008,Lebanon,Middle East & North Africa,NaN,NaN,NaN,6.43,4.54,4.86,5.28,...,NaN,0.0,NaN,NaN,NaN,NaN,0.00,6.14,123.0,3.39
1904,2008,Libya,Middle East & North Africa,NaN,NaN,NaN,NaN,NaN,NaN,3.90,...,NaN,7.5,NaN,NaN,NaN,NaN,7.50,4.74,156.0,6.79
1939,2008,Qatar,Middle East & North Africa,NaN,NaN,NaN,NaN,NaN,NaN,6.25,...,NaN,0.0,NaN,NaN,NaN,NaN,0.00,5.20,149.0,2.71
1943,2008,Saudi Arabia,Middle East & North Africa,NaN,NaN,NaN,NaN,NaN,NaN,5.30,...,NaN,0.0,NaN,NaN,NaN,NaN,0.00,3.72,162.0,0.61
1977,2008,"Yemen, Rep.",Middle East & North Africa,NaN,NaN,NaN,NaN,NaN,NaN,3.65,...,NaN,0.0,NaN,NaN,NaN,NaN,0.00,4.89,154.0,2.49

In [57]:
#multiple conditions:
df4 = df3.loc[(df3["region"] == "Middle East & North Africa")
              & (df3["year"] == 2019)]
df4

,year,countries,region,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,...,pf_identity_same,pf_identity_divorce,pf_identity_fgm,pf_identity_inheritance_widows,pf_identity_inheritance_daughters,pf_identity_inheritance,pf_identity,pf_score,pf_rank,pf_womens
74,2019,Israel,Middle East & North Africa,7.66,62.0,2.0,NaN,NaN,NaN,6.83,...,10.0,2.5,10.00,NaN,NaN,7.5,7.50,7.69,77.0,7.70
78,2019,Jordan,Middle East & North Africa,6.91,94.0,3.0,5.00,6.21,5.68,5.63,...,10.0,0.0,10.00,NaN,NaN,0.0,5.00,6.42,115.0,5.31
86,2019,Lebanon,Middle East & North Africa,6.76,108.0,3.0,4.80,4.20,3.46,4.15,...,5.0,0.0,10.00,NaN,NaN,2.5,4.38,6.76,106.0,5.88
152,2019,Tunisia,Middle East & North Africa,6.46,116.0,3.0,4.89,5.02,4.16,4.69,...,0.0,2.5,10.00,NaN,NaN,0.0,3.13,6.82,103.0,4.30
82,2019,Kuwait,Middle East & North Africa,6.34,121.0,3.0,NaN,NaN,NaN,5.52,...,5.0,2.5,10.00,NaN,NaN,0.0,4.38,6.07,120.0,5.89
124,2019,Qatar,Middle East & North Africa,6.15,128.0,4.0,NaN,NaN,NaN,6.34,...,0.0,0.0,10.00,NaN,NaN,0.0,2.50,5.48,142.0,2.74
156,2019,United Arab Emirates,Middle East & North Africa,6.06,131.0,4.0,5.12,6.75,6.74,6.21,...,0.0,0.0,10.00,NaN,NaN,0.0,2.50,5.20,150.0,2.83
115,2019,Oman,Middle East & North Africa,5.92,133.0,4.0,NaN,NaN,NaN,6.05,...,0.0,0.0,10.00,NaN,NaN,0.0,2.50,5.36,145.0,3.15
103,2019,Morocco,Middle East & North Africa,5.90,134.0,4.0,3.27,5.37,3.79,4.14,...,0.0,2.5,10.00,NaN,NaN,0.0,3.13,5.33,146.0,3.61
153,2019,Turkey,Middle East & North Africa,5.79,139.0,4.0,3.39,4.43,3.77,3.86,...,10.0,7.5,10.00,NaN,NaN,7.5,8.75,5.25,148.0,8.22
9,2019,Bahrain,Middle East & North Africa,5.73,143.0,4.0,NaN,NaN,NaN,5.96,...,10.0,0.0,10.00,NaN,NaN,0.0,5.00,4.59,157.0,5.31
1,2019,Algeria,Middle East & North Africa,5.26,154.0,4.0,5.21,5.64,4.35,5.07,...,0.0,0.0,10.00,NaN,NaN,0.0,2.50,5.51,141.0,3.78
128,2019,Saudi Arabia,Middle East & North Africa,5.12,155.0,4.0,NaN,NaN,NaN,5.45,...,0.0,0.0,10.00,NaN,NaN,0.0,2.50,3.89,161.0,2.79
89,2019,Libya,Middle East & North Africa,5.05,156.0,4.0,NaN,NaN,NaN,2.29,...,0.0,7.5,10.00,NaN,NaN,7.5,6.25,5.17,152.0,6.02
72,2019,Iraq,Middle East & North Africa,5.02,157.0,4.0,NaN,NaN,NaN,2.49,...,0.0,0.0,9.26,NaN,NaN,0.0,2.32,4.49,159.0,3.02
71,2019,"Iran, Islamic Rep.",Middle East & North Africa,4.53,160.0,4.0,2.49,5.52,3.72,3.91,...,0.0,0.0,10.00,NaN,NaN,0.0,2.50,4.14,160.0,3.09
46,2019,"Egypt, Arab Rep.",Middle East & North Africa,4.49,161.0,4.0,2.52,3.87,3.74,3.38,...,0.0,0.0,1.28,NaN,NaN,0.0,0.32,3.63,163.0,1.47
162,2019,"Yemen, Rep.",Middle East & North Africa,4.08,163.0,4.0,NaN,NaN,NaN,2.41,...,0.0,0.0,8.15,NaN,NaN,0.0,2.04,3.11,164.0,2.26
144,2019,Syrian Arab Republic,Middle East & North Africa,3.66,165.0,4.0,NaN,NaN,NaN,1.94,...,0.0,0.0,10.00,NaN,NaN,0.0,2.50,2.60,165.0,2.79

In [58]:
df5 = df3.loc[df3["region"] == "Middle East & North Africa"].sort_values("hf_score", ascending=False).groupby(["countries"]).mean()
df5

,year,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,pf_ss_homicide,pf_ss_disappearances_disap,...,pf_identity_same,pf_identity_divorce,pf_identity_fgm,pf_identity_inheritance_widows,pf_identity_inheritance_daughters,pf_identity_inheritance,pf_identity,pf_score,pf_rank,pf_womens
countries,,,,,,,,,,,,,,,,,,,,,
Algeria,2013.5,5.238333,147.583333,4.000000,5.110000,5.606667,4.336667,4.220833,9.657500,8.333333,...,0.0,0.0,10.000000,1.666667,1.666667,2.083333,3.020833,5.400833,143.750000,3.929167
Bahrain,2013.5,5.821667,133.416667,3.750000,NaN,NaN,NaN,5.848333,9.833333,9.166667,...,10.0,0.0,10.000000,0.000000,0.000000,1.250000,5.312500,4.850833,149.333333,5.582500
"Egypt, Arab Rep.",2013.5,4.786667,151.250000,4.000000,2.922500,4.113333,4.222500,3.754167,9.328333,2.916667,...,0.0,0.0,1.021667,0.000000,0.000000,1.250000,0.570833,4.153333,159.333333,1.643333
"Iran, Islamic Rep.",2013.5,4.739167,152.583333,4.000000,2.549167,5.716667,4.217500,4.159167,9.232500,1.250000,...,0.0,0.0,10.000000,1.666667,0.000000,1.666667,2.917500,4.256667,159.500000,3.431667
Iraq,2013.5,5.025000,154.500000,4.000000,NaN,NaN,NaN,2.723333,7.105000,3.750000,...,0.0,0.0,9.230000,0.000000,0.000000,0.000000,0.770000,4.609167,157.500000,2.621667
Israel,2013.5,7.574167,62.833333,2.083333,NaN,NaN,NaN,6.743333,9.525833,10.000000,...,10.0,2.5,9.791667,10.000000,10.000000,9.375000,7.918333,7.650000,76.583333,8.055000
Jordan,2013.5,6.852500,98.666667,3.000000,4.757500,6.298333,5.570000,5.540833,9.514167,9.583333,...,10.0,0.0,9.791667,0.000000,0.000000,1.250000,5.262500,6.420833,115.000000,5.400833
Kuwait,2013.5,6.352500,117.083333,3.500000,NaN,NaN,NaN,5.660000,9.475833,9.583333,...,5.0,2.5,10.000000,1.666667,0.000000,1.666667,4.795833,6.082500,124.166667,6.150000
Lebanon,2013.5,6.836000,100.600000,3.000000,5.373333,4.517500,4.050000,4.647500,8.930833,7.916667,...,3.0,0.0,10.000000,1.666667,1.666667,2.250000,3.178333,6.580000,112.000000,4.764167
Libya,2013.5,5.125714,152.285714,4.000000,NaN,NaN,NaN,2.994167,9.199167,6.250000,...,0.0,7.5,10.000000,0.000000,0.000000,3.214286,6.147500,5.210833,147.750000,5.691667
Morocco,2013.5,6.075833,126.083333,4.000000,3.061667,5.336667,3.627500,4.010000,9.595833,9.166667,...,0.0,2.5,10.000000,0.000000,0.000000,1.250000,3.442500,5.761667,134.500000,3.814167
Oman,2013.5,5.951667,129.166667,4.000000,NaN,NaN,NaN,5.957500,9.717500,8.333333,...,0.0,0.0,9.583333,0.000000,0.000000,1.250000,2.708333,5.337500,146.500000,3.335000
Qatar,2013.5,6.164000,124.700000,4.000000,NaN,NaN,NaN,6.457500,9.882500,9.166667,...,0.0,0.0,9.100000,0.000000,0.000000,0.000000,1.895833,5.446667,142.583333,2.672500
Saudi Arabia,2013.5,4.923000,153.800000,4.000000,NaN,NaN,NaN,5.399167,9.612500,7.500000,...,0.0,0.0,9.700000,0.000000,0.000000,0.500000,2.125000,3.870000,161.250000,2.098333
Syrian Arab Republic,2013.5,3.981667,155.166667,4.000000,NaN,NaN,NaN,3.079167,9.411667,1.250000,...,0.0,0.0,10.000000,1.666667,1.666667,2.083333,3.020833,3.097500,164.166667,3.355000
Tunisia,2013.5,6.274167,117.916667,3.250000,4.801667,5.201667,4.684167,4.896667,9.144167,10.000000,...,0.0,2.5,10.000000,0.000000,0.000000,1.250000,3.442500,6.281667,118.916667,4.491667
Turkey,2013.5,6.527500,109.666667,3.333333,3.996667,4.906667,3.957500,4.285000,8.898333,8.333333,...,10.0,7.5,9.791667,10.000000,10.000000,9.375000,9.168333,6.251667,120.166667,8.604167
United Arab Emirates,2013.5,6.126667,123.916667,4.000000,5.629167,6.405000,7.245833,6.426667,9.806667,7.916667,...,0.0,0.0,9.250000,0.000000,0.000000,1.250000,2.625000,5.380000,145.083333,3.095000
"Yemen, Rep.",2013.5,4.861000,151.800000,4.000000,NaN,NaN,NaN,3.055833,8.261667,2.500000,...,0.0,0.0,7.160000,0.000000,0.000000,0.500000,1.596667,4.087500,159.416667,2.320000

In [59]:
df6 = df3.loc[(df3["pf_expression_internet"] > 7) | (
    df3["pf_expression_media"] > 7)].drop(columns=['region'])
df6

,year,countries,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,pf_ss_homicide,...,pf_identity_same,pf_identity_divorce,pf_identity_fgm,pf_identity_inheritance_widows,pf_identity_inheritance_daughters,pf_identity_inheritance,pf_identity,pf_score,pf_rank,pf_womens
1064,2013,Israel,7.71,56.0,2.0,NaN,NaN,NaN,6.72,9.57,...,10.0,2.5,10.0,10.0,10.0,10.0,8.13,7.86,64.0,8.20
734,2015,Israel,7.67,58.0,2.0,NaN,NaN,NaN,7.01,9.60,...,10.0,2.5,10.0,10.0,10.0,10.0,8.13,7.73,70.0,8.20
569,2016,Israel,7.66,58.0,2.0,NaN,NaN,NaN,6.86,9.62,...,10.0,2.5,10.0,10.0,10.0,10.0,8.13,7.71,72.0,8.20
74,2019,Israel,7.66,62.0,2.0,NaN,NaN,NaN,6.83,9.56,...,10.0,2.5,10.0,NaN,NaN,7.5,7.50,7.69,77.0,7.70
404,2017,Israel,7.64,59.0,2.0,NaN,NaN,NaN,6.79,9.56,...,10.0,2.5,10.0,NaN,NaN,7.5,7.50,7.68,78.0,7.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1557,2010,Iraq,NaN,NaN,NaN,NaN,NaN,NaN,2.75,7.46,...,NaN,0.0,NaN,NaN,NaN,NaN,0.00,4.69,159.0,2.49
1722,2009,Iraq,NaN,NaN,NaN,NaN,NaN,NaN,2.53,7.52,...,NaN,0.0,NaN,NaN,NaN,NaN,0.00,4.63,158.0,2.46
1736,2009,Lebanon,NaN,NaN,NaN,6.43,4.54,4.86,5.28,8.99,...,NaN,0.0,NaN,NaN,NaN,NaN,0.00,6.27,122.0,3.41
1887,2008,Iraq,NaN,NaN,NaN,NaN,NaN,NaN,2.42,5.41,...,NaN,0.0,NaN,NaN,NaN,NaN,0.00,4.41,159.0,2.46
1901,2008,Lebanon,NaN,NaN,NaN,6.43,4.54,4.86,5.28,8.71,...,NaN,0.0,NaN,NaN,NaN,NaN,0.00,6.14,123.0,3.39

In [60]:
df7 = df6[df6.columns[0:5]].dropna()
df7

      year countries  hf_score  hf_rank  hf_quartile
1064  2013    Israel      7.71     56.0          2.0
734   2015    Israel      7.67     58.0          2.0
569   2016    Israel      7.66     58.0          2.0
74    2019    Israel      7.66     62.0          2.0
404   2017    Israel      7.64     59.0          2.0
...    ...       ...       ...      ...          ...
419   2017     Libya      5.06    153.0          4.0
89    2019     Libya      5.05    156.0          4.0
72    2019      Iraq      5.02    157.0          4.0
402   2017      Iraq      5.01    154.0          4.0
237   2018      Iraq      4.98    154.0          4.0

[77 rows x 5 columns]

In [61]:
# df6[df6.columns[0:5]]
df6[['year', 'countries', 'hf_score', 'hf_rank', 'hf_quartile', 'pf_expression_killed', 'pf_expression_jailed', 'pf_expression_media', 'pf_expression_cultural', 
    'pf_expression_gov', 'pf_expression_internet', 'pf_expression_harass', 'pf_expression_selfcens', 'pf_expression_freedom_bti', 'pf_expression_freedom_cld', 
    'pf_expression_freedom', 'pf_expression', 'pf_expression_rank']].dropna()

,year,countries,hf_score,hf_rank,hf_quartile,pf_expression_killed,pf_expression_jailed,pf_expression_media,pf_expression_cultural,pf_expression_gov,pf_expression_internet,pf_expression_harass,pf_expression_selfcens,pf_expression_freedom_bti,pf_expression_freedom_cld,pf_expression_freedom,pf_expression,pf_expression_rank
1406,2011,Lebanon,7.06,90.0,3.0,4.00,10.00,5.0,6.69,5.77,9.83,4.95,6.83,7.0,7.5,7.25,6.70,100
1803,2009,Turkey,7.06,83.0,3.0,9.16,5.04,2.5,6.21,5.84,7.80,5.00,6.03,7.0,7.5,7.25,6.09,117
1968,2008,Turkey,7.01,91.0,3.0,9.57,4.29,2.5,6.45,5.84,7.97,5.11,6.21,7.0,7.5,7.25,6.13,116
1571,2010,Lebanon,7.00,94.0,3.0,0.00,10.00,5.0,6.69,5.77,9.83,4.95,6.74,7.0,5.0,6.00,6.11,116
1563,2010,Jordan,6.99,95.0,3.0,10.00,10.00,2.5,6.41,2.31,7.67,4.16,3.68,5.0,5.0,5.00,5.75,121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,2017,Libya,5.06,153.0,4.0,0.00,10.00,2.5,2.93,7.09,9.08,4.76,5.89,4.0,5.0,4.50,5.19,130
89,2019,Libya,5.05,156.0,4.0,0.00,10.00,2.5,2.55,7.09,8.20,4.07,5.24,4.0,5.0,4.50,4.90,134
72,2019,Iraq,5.02,157.0,4.0,0.00,8.73,2.5,4.80,4.97,7.17,2.70,4.24,3.0,5.0,4.00,4.34,141
402,2017,Iraq,5.01,154.0,4.0,0.00,9.35,2.5,4.43,5.18,7.81,3.04,4.69,3.0,5.0,4.00,4.55,138
237,2018,Iraq,4.98,154.0,4.0,0.00,9.35,2.5,5.27,4.97,7.81,3.04,4.87,6.0,5.0,5.50,4.81,131

In [89]:
df3 = df2.loc[df2["region"] == "Middle East & North Africa"]
df3 = df3.sort_values(["year", "hf_score"], ascending = False)
df7 = df3[['year', 'countries', 'hf_score', 'hf_rank',
           'hf_quartile', 'pf_expression', 'pf_expression_rank']].dropna()
df7

,year,countries,hf_score,hf_rank,hf_quartile,pf_expression,pf_expression_rank
74,2019,Israel,7.66,62.0,2.0,6.23,108
78,2019,Jordan,6.91,94.0,3.0,5.66,123
86,2019,Lebanon,6.76,108.0,3.0,6.44,102
152,2019,Tunisia,6.46,116.0,3.0,7.56,66
82,2019,Kuwait,6.34,121.0,3.0,5.34,127
...,...,...,...,...,...,...,...
1967,2008,Tunisia,5.52,131.0,4.0,3.22,160
1861,2008,"Egypt, Arab Rep.",5.46,132.0,4.0,5.11,134
1816,2008,Algeria,5.36,136.0,4.0,6.02,118
1886,2008,"Iran, Islamic Rep.",4.98,139.0,4.0,3.30,159
1959,2008,Syrian Arab Republic,4.73,140.0,4.0,2.92,161

In [74]:
df2.groupby(["countries"]).count()

,year,ISO,region,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,...,ef_regulation_business_adm,ef_regulation_business_bureaucracy,ef_regulation_business_start,ef_regulation_business_bribes,ef_regulation_business_licensing,ef_regulation_business_compliance,ef_regulation_business,ef_regulation,ef_score,ef_rank
countries,,,,,,,,,,,,,,,,,,,,,
Albania,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,11,12,12,12,12,12
Algeria,12,12,12,12,12,12,3,3,3,12,...,12,12,12,12,12,12,12,12,12,12
Angola,12,12,12,12,12,12,3,3,3,12,...,11,12,12,12,12,12,12,12,12,12
Argentina,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
Armenia,12,12,12,12,12,12,0,0,0,12,...,12,12,12,12,12,12,12,12,12,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Venezuela, RB",12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
Vietnam,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
"Yemen, Rep.",12,12,12,10,10,10,0,0,0,12,...,10,10,10,12,6,10,10,10,10,10
Zambia,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
Zimbabwe,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12

In [85]:
df2.groupby(["countries"]).mean().sort_values("hf_score", ascending = False)

,year,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,pf_ss_homicide,pf_ss_disappearances_disap,...,ef_regulation_business_adm,ef_regulation_business_bureaucracy,ef_regulation_business_start,ef_regulation_business_bribes,ef_regulation_business_licensing,ef_regulation_business_compliance,ef_regulation_business,ef_regulation,ef_score,ef_rank
countries,,,,,,,,,,,,,,,,,,,,,
New Zealand,2013.5,9.081667,1.416667,1.0,8.451667,7.724167,7.550000,7.907500,9.720000,10.000000,...,5.142500,8.915833,9.973333,9.679167,9.495833,8.465000,8.611667,9.005000,8.487500,3.250000
Switzerland,2013.5,9.075833,1.583333,1.0,NaN,NaN,NaN,8.100000,9.824167,10.000000,...,5.806667,8.312500,9.456667,9.605000,8.356667,9.309167,8.473333,8.582500,8.470000,3.750000
Denmark,2013.5,8.987500,3.166667,1.0,9.374167,8.288333,8.414167,8.694167,9.719167,10.000000,...,4.315000,7.310833,9.788333,9.935833,9.796667,8.640000,8.297500,8.501667,8.068333,10.583333
Ireland,2013.5,8.905833,6.000000,1.0,NaN,NaN,NaN,7.770833,9.714167,10.000000,...,4.761667,8.438333,9.710833,8.713333,8.140833,9.055833,8.134167,8.053333,8.126667,8.916667
Australia,2013.5,8.904167,5.750000,1.0,8.558333,7.425833,7.338333,7.775833,9.703333,10.000000,...,3.680000,8.758333,9.920000,9.680833,8.689167,8.876667,8.268333,8.538333,8.180000,7.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Egypt, Arab Rep.",2013.5,4.786667,151.250000,4.0,2.922500,4.113333,4.222500,3.754167,9.328333,2.916667,...,3.802500,2.646667,9.568333,2.216667,7.711667,5.190000,5.187500,4.970000,5.674167,136.333333
"Venezuela, RB",2013.5,4.748333,152.083333,4.0,1.953333,3.299167,1.734167,2.329167,0.000000,9.583333,...,1.285833,0.585000,5.371667,2.728333,4.869167,0.787500,2.605000,3.527500,3.333333,155.416667
"Iran, Islamic Rep.",2013.5,4.739167,152.583333,4.0,2.549167,5.716667,4.217500,4.159167,9.232500,1.250000,...,3.134545,1.251000,9.095833,5.856667,7.130000,6.340833,5.658333,5.149167,5.414167,144.250000
Sudan,2013.5,4.140000,161.250000,4.0,NaN,NaN,NaN,3.261667,8.500000,3.333333,...,NaN,3.390000,8.660000,2.460833,6.757500,6.630000,5.652500,4.890000,4.427500,161.250000
Syrian Arab Republic,2013.5,3.981667,155.166667,4.0,NaN,NaN,NaN,3.079167,9.411667,1.250000,...,3.214167,1.258000,8.659167,1.406667,8.077500,5.769167,4.381667,5.269167,5.234167,146.333333

In [63]:
#Save and export:

# df3.to_csv("writers.csv", index = False)
df3.to_excel("df4.xlsx", index=False)
# df4.to_csv("df4.txt", index = False, sep = "\t")