In [133]:
import pandas as pd
import json
import sys
sys.path.append('C:/Users/nicol/anaconda3/Lib/site-packages')
import openpyxl

url = "https://www.cato.org/sites/cato.org/files/2021-12/HFI2021.json"
path = "/Users/nicol/Dropbox/Programming/HumanFreedomIndexProject/HFI2021.json"

df1 = pd.read_json(path)
# df1
# print(df1)

# list all columns
cols = list(df1.columns.values)
print(cols)

# big picture stats:
df1.describe()

# to iterate through all rows - keep for later, just in case
# for index, row in df1.iterrows(): 
#     print(index, row)

['year', 'countries', 'ISO', 'region', 'hf_score', 'hf_rank', 'hf_quartile', 'pf_rol_procedural', 'pf_rol_civil', 'pf_rol_criminal', 'pf_rol', 'pf_ss_homicide', 'pf_ss_disappearances_disap', 'pf_ss_disappearances_violent', 'pf_ss_disappearances_organized', 'pf_ss_disappearances_fatalities', 'pf_ss_disappearances_injuries', 'pf_ss_disappearances_torture', 'pf_ss_killings', 'pf_ss_disappearances', 'pf_ss', 'pf_movement_vdem_foreign', 'pf_movement_vdem_men', 'pf_movement_vdem_women', 'pf_movement_vdem', 'pf_movement_cld', 'pf_movement', 'pf_religion_suppression', 'pf_religion_freedom_vdem', 'pf_religion_freedom_cld', 'pf_religion_freedom', 'pf_religion', 'pf_assembly_entry', 'pf_assembly_freedom_house', 'pf_assembly_freedom_bti', 'pf_assembly_freedom_cld', 'pf_assembly_freedom', 'pf_assembly_parties_barriers', 'pf_assembly_parties_bans', 'pf_assembly_parties_auton', 'pf_assembly_parties', 'pf_assembly_civil', 'pf_assembly', 'pf_assembly_rank', 'pf_expression_killed', 'pf_expression_jailed', 'pf_expression_media', 'pf_expression_cultural', 'pf_expression_gov', 'pf_expression_internet', 'pf_expression_harass', 'pf_expression_selfcens', 'pf_expression_freedom_bti', 'pf_expression_freedom_cld', 'pf_expression_freedom', 'pf_expression', 'pf_expression_rank', 'pf_identity_same_m', 'pf_identity_same_f', 'pf_identity_same', 'pf_identity_divorce', 'pf_identity_fgm', 'pf_identity_inheritance_widows', 'pf_identity_inheritance_daughters', 'pf_identity_inheritance', 'pf_identity', 'pf_score', 'pf_rank', 'pf_womens', 'ef_government_consumption', 'ef_government_transfers', 'ef_government_enterprises', 'ef_government_tax_income', 'ef_government_tax_payroll', 'ef_government_tax', 'ef_government_soa', 'ef_government', 'ef_legal_judicial', 'ef_legal_courts', 'ef_legal_protection', 'ef_legal_military', 'ef_legal_integrity', 'ef_legal_enforcement', 'ef_legal_regulatory', 'ef_legal_police', 'ef_legal', 'ef_money_growth', 'ef_money_sd', 'ef_money_inflation', 'ef_money_currency', 'ef_money', 'ef_trade_tariffs_revenue', 'ef_trade_tariffs_mean', 'ef_trade_tariffs_sd', 'ef_trade_tariffs', 'ef_trade_regulatory_nontariff', 'ef_trade_regulatory_compliance', 'ef_trade_regulatory', 'ef_trade_black', 'ef_trade_movement_foreign', 'ef_trade_movement_capital', 'ef_trade_movement_visit', 'ef_trade_movement', 'ef_trade', 'ef_regulation_credit_ownership', 'ef_regulation_credit_private', 'ef_regulation_credit_interest', 'ef_regulation_credit', 'ef_regulation_labor_minwage', 'ef_regulation_labor_firing', 'ef_regulation_labor_bargain', 'ef_regulation_labor_hours', 'ef_regulation_labor_dismissal', 'ef_regulation_labor_conscription', 'ef_regulation_labor', 'ef_regulation_business_adm', 'ef_regulation_business_bureaucracy', 'ef_regulation_business_start', 'ef_regulation_business_bribes', 'ef_regulation_business_licensing', 'ef_regulation_business_compliance', 'ef_regulation_business', 'ef_regulation', 'ef_score', 'ef_rank']

,year,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,pf_ss_homicide,pf_ss_disappearances_disap,...,ef_regulation_business_adm,ef_regulation_business_bureaucracy,ef_regulation_business_start,ef_regulation_business_bribes,ef_regulation_business_licensing,ef_regulation_business_compliance,ef_regulation_business,ef_regulation,ef_score,ef_rank
count,1980.000000,1867.000000,1867.000000,1867.000000,1249.000000,1249.000000,1249.000000,1980.000000,1976.000000,1957.000000,...,1732.000000,1845.000000,1857.000000,1911.000000,1836.000000,1853.000000,1863.000000,1880.000000,1867.000000,1867.000000
mean,2013.500000,7.190787,78.330477,2.510445,5.512842,5.532914,4.988943,5.130424,8.008148,8.469596,...,4.017979,5.293886,8.941174,5.765144,7.870626,6.935769,6.509152,7.042926,6.870279,78.237815
std,3.452925,1.176588,45.249298,1.119482,2.032690,1.330313,1.629103,1.603769,2.474640,3.049644,...,1.181790,2.562779,1.136564,2.401161,1.623539,2.028033,1.270069,1.043629,0.946626,45.265043
min,2008.000000,3.490000,1.000000,1.000000,1.000000,1.890000,1.290000,1.110000,0.000000,0.000000,...,0.000000,0.000000,0.780000,0.000000,0.000000,0.000000,1.980000,2.500000,2.670000,1.000000
25%,2010.750000,6.360000,39.000000,2.000000,4.030000,4.550000,3.720000,3.930000,7.460000,10.000000,...,3.220000,3.330000,8.660000,3.790000,7.150000,6.330000,5.710000,6.460000,6.230000,39.000000
50%,2013.500000,7.240000,78.000000,3.000000,5.130000,5.340000,4.550000,4.790000,8.985000,10.000000,...,3.985000,5.330000,9.340000,5.710000,8.240000,7.430000,6.580000,7.130000,6.980000,78.000000
75%,2016.250000,8.195000,117.000000,4.000000,7.270000,6.360000,6.160000,6.360000,9.600000,10.000000,...,4.710000,7.330000,9.660000,7.660000,9.070000,8.240000,7.360000,7.750000,7.605000,117.000000
max,2019.000000,9.150000,165.000000,4.000000,9.670000,8.770000,8.720000,8.830000,9.950000,10.000000,...,7.690000,10.000000,9.980000,10.000000,10.000000,9.930000,9.450000,9.430000,9.090000,165.000000

In [132]:
df2 = df1.sort_values("region", ascending=True)
df2[cols].dtypes

year                                   int64
countries                             object
ISO                                   object
region                                object
hf_score                             float64
                                      ...
ef_regulation_business_compliance    float64
ef_regulation_business               float64
ef_regulation                        float64
ef_score                             float64
ef_rank                              float64
Length: 125, dtype: object

In [123]:
(df3.groupby("region")
    .mean()
    .sort_values("hf_score", ascending = False))

,year,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,pf_ss_homicide,pf_ss_disappearances_disap,...,pf_identity_fgm,pf_identity_inheritance_widows,pf_identity_inheritance_daughters,pf_identity_inheritance,pf_identity,pf_score,pf_rank,pf_womens,ef_score,ef_rank
region,,,,,,,,,,,,,,,,,,,,,
North America,2013.5,8.832083,9.666667,1.000000,7.932083,6.812917,6.939583,7.229167,9.037500,10.000000,...,9.791667,10.000000,10.000000,10.000000,9.950000,9.282500,17.583333,9.911667,8.202917,6.875000
Western Europe,2013.5,8.732685,15.291667,1.000000,8.582179,7.470256,7.466218,7.821806,9.701806,9.814815,...,9.861111,9.814815,9.814815,9.803241,9.814074,9.373426,13.060185,9.799815,7.836250,24.828704
Oceania,2013.5,8.067292,43.625000,1.812500,8.505000,7.575000,7.444167,5.980833,8.964375,10.000000,...,9.947917,7.500000,7.500000,8.281250,8.933125,8.483750,45.250000,9.263125,7.472292,52.166667
Eastern Europe,2013.5,7.961133,48.570312,1.761719,6.230637,5.646667,5.145441,5.800909,9.146364,9.386973,...,9.990234,8.861789,8.861789,9.046185,9.471098,8.357083,50.064394,9.479470,7.317734,55.500000
East Asia,2013.5,7.950139,47.500000,1.708333,6.443833,6.578500,6.358667,6.525278,9.498750,8.500000,...,10.000000,8.611111,9.166667,9.131944,9.576806,8.197917,53.805556,9.483889,7.603472,45.041667
Latin America & the Caribbean,2013.5,7.474968,67.300000,2.203226,5.310741,4.944321,3.887284,4.712372,4.536378,8.974359,...,9.982258,7.986111,8.125000,8.610140,8.880290,7.887581,66.935484,9.110449,6.896419,75.329032
Caucasus & Central Asia,2013.5,6.797714,95.514286,2.914286,4.651212,5.309091,4.580303,4.380972,8.891944,9.027778,...,10.000000,6.944444,7.222222,7.785714,8.578750,6.574861,108.861111,8.612778,7.049286,71.542857
South Asia,2013.5,6.579037,105.037433,3.219251,4.251974,4.612632,4.571645,4.520539,9.082353,6.675000,...,9.975936,4.690722,5.000000,5.360963,6.258873,6.457843,113.578431,6.901275,6.673262,93.449198
Sub-Saharan Africa,2013.5,6.512516,107.069182,3.228512,3.904803,4.916339,4.076772,4.112407,7.388494,8.199627,...,7.721782,4.195652,3.891304,4.276458,5.164056,6.596074,107.009259,6.221926,6.181363,112.754717
Middle East & North Africa,2013.5,5.794444,128.004831,3.657005,4.165960,5.320909,4.685960,4.729430,9.289336,6.995614,...,9.165604,1.588785,1.401869,2.294686,3.679956,5.301535,138.815789,4.266096,6.425604,101.294686

In [122]:
# single condition:
(df3.sort_values("hf_score", ascending=False)
    .loc[df3["region"] == "Middle East & North Africa"])

,year,countries,region,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,...,pf_identity_fgm,pf_identity_inheritance_widows,pf_identity_inheritance_daughters,pf_identity_inheritance,pf_identity,pf_score,pf_rank,pf_womens,ef_score,ef_rank
1064,2013,Israel,Middle East & North Africa,7.71,56.0,2.0,NaN,NaN,NaN,6.72,...,10.0,10.0,10.0,10.0,8.13,7.86,64.0,8.20,7.50,44.0
734,2015,Israel,Middle East & North Africa,7.67,58.0,2.0,NaN,NaN,NaN,7.01,...,10.0,10.0,10.0,10.0,8.13,7.73,70.0,8.20,7.60,42.0
569,2016,Israel,Middle East & North Africa,7.66,58.0,2.0,NaN,NaN,NaN,6.86,...,10.0,10.0,10.0,10.0,8.13,7.71,72.0,8.20,7.58,47.0
74,2019,Israel,Middle East & North Africa,7.66,62.0,2.0,NaN,NaN,NaN,6.83,...,10.0,NaN,NaN,7.5,7.50,7.69,77.0,7.70,7.63,43.0
404,2017,Israel,Middle East & North Africa,7.64,59.0,2.0,NaN,NaN,NaN,6.79,...,10.0,NaN,NaN,7.5,7.50,7.68,78.0,7.70,7.59,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1901,2008,Lebanon,Middle East & North Africa,NaN,NaN,NaN,6.43,4.54,4.86,5.28,...,NaN,NaN,NaN,NaN,0.00,6.14,123.0,3.39,NaN,NaN
1904,2008,Libya,Middle East & North Africa,NaN,NaN,NaN,NaN,NaN,NaN,3.90,...,NaN,NaN,NaN,NaN,7.50,4.74,156.0,6.79,NaN,NaN
1939,2008,Qatar,Middle East & North Africa,NaN,NaN,NaN,NaN,NaN,NaN,6.25,...,NaN,NaN,NaN,NaN,0.00,5.20,149.0,2.71,NaN,NaN
1943,2008,Saudi Arabia,Middle East & North Africa,NaN,NaN,NaN,NaN,NaN,NaN,5.30,...,NaN,NaN,NaN,NaN,0.00,3.72,162.0,0.61,NaN,NaN
1977,2008,"Yemen, Rep.",Middle East & North Africa,NaN,NaN,NaN,NaN,NaN,NaN,3.65,...,NaN,NaN,NaN,NaN,0.00,4.89,154.0,2.49,NaN,NaN

In [120]:
#multiple conditions:
df4 = df3.loc[(df3["region"] == "Middle East & North Africa")
    & (df3["year"] == 2019)]
df4

,year,countries,region,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,...,pf_identity_fgm,pf_identity_inheritance_widows,pf_identity_inheritance_daughters,pf_identity_inheritance,pf_identity,pf_score,pf_rank,pf_womens,ef_score,ef_rank
1,2019,Algeria,Middle East & North Africa,5.26,154.0,4.0,5.21,5.64,4.35,5.07,...,10.00,NaN,NaN,0.0,2.50,5.51,141.0,3.78,4.90,162.0
9,2019,Bahrain,Middle East & North Africa,5.73,143.0,4.0,NaN,NaN,NaN,5.96,...,10.00,NaN,NaN,0.0,5.00,4.59,157.0,5.31,7.33,65.0
46,2019,"Egypt, Arab Rep.",Middle East & North Africa,4.49,161.0,4.0,2.52,3.87,3.74,3.38,...,1.28,NaN,NaN,0.0,0.32,3.63,163.0,1.47,5.68,149.0
71,2019,"Iran, Islamic Rep.",Middle East & North Africa,4.53,160.0,4.0,2.49,5.52,3.72,3.91,...,10.00,NaN,NaN,0.0,2.50,4.14,160.0,3.09,5.06,160.0
72,2019,Iraq,Middle East & North Africa,5.02,157.0,4.0,NaN,NaN,NaN,2.49,...,9.26,NaN,NaN,0.0,2.32,4.49,159.0,3.02,5.74,148.0
74,2019,Israel,Middle East & North Africa,7.66,62.0,2.0,NaN,NaN,NaN,6.83,...,10.00,NaN,NaN,7.5,7.50,7.69,77.0,7.70,7.63,43.0
78,2019,Jordan,Middle East & North Africa,6.91,94.0,3.0,5.00,6.21,5.68,5.63,...,10.00,NaN,NaN,0.0,5.00,6.42,115.0,5.31,7.59,50.0
82,2019,Kuwait,Middle East & North Africa,6.34,121.0,3.0,NaN,NaN,NaN,5.52,...,10.00,NaN,NaN,0.0,4.38,6.07,120.0,5.89,6.72,98.0
86,2019,Lebanon,Middle East & North Africa,6.76,108.0,3.0,4.80,4.20,3.46,4.15,...,10.00,NaN,NaN,2.5,4.38,6.76,106.0,5.88,6.76,95.0
89,2019,Libya,Middle East & North Africa,5.05,156.0,4.0,NaN,NaN,NaN,2.29,...,10.00,NaN,NaN,7.5,6.25,5.17,152.0,6.02,4.79,163.0
103,2019,Morocco,Middle East & North Africa,5.90,134.0,4.0,3.27,5.37,3.79,4.14,...,10.00,NaN,NaN,0.0,3.13,5.33,146.0,3.61,6.69,102.0
115,2019,Oman,Middle East & North Africa,5.92,133.0,4.0,NaN,NaN,NaN,6.05,...,10.00,NaN,NaN,0.0,2.50,5.36,145.0,3.15,6.69,102.0
124,2019,Qatar,Middle East & North Africa,6.15,128.0,4.0,NaN,NaN,NaN,6.34,...,10.00,NaN,NaN,0.0,2.50,5.48,142.0,2.74,7.09,80.0
128,2019,Saudi Arabia,Middle East & North Africa,5.12,155.0,4.0,NaN,NaN,NaN,5.45,...,10.00,NaN,NaN,0.0,2.50,3.89,161.0,2.79,6.85,91.0
144,2019,Syrian Arab Republic,Middle East & North Africa,3.66,165.0,4.0,NaN,NaN,NaN,1.94,...,10.00,NaN,NaN,0.0,2.50,2.60,165.0,2.79,5.19,158.0
152,2019,Tunisia,Middle East & North Africa,6.46,116.0,3.0,4.89,5.02,4.16,4.69,...,10.00,NaN,NaN,0.0,3.13,6.82,103.0,4.30,5.97,139.0
153,2019,Turkey,Middle East & North Africa,5.79,139.0,4.0,3.39,4.43,3.77,3.86,...,10.00,NaN,NaN,7.5,8.75,5.25,148.0,8.22,6.54,114.0
156,2019,United Arab Emirates,Middle East & North Africa,6.06,131.0,4.0,5.12,6.75,6.74,6.21,...,10.00,NaN,NaN,0.0,2.50,5.20,150.0,2.83,7.28,68.0
162,2019,"Yemen, Rep.",Middle East & North Africa,4.08,163.0,4.0,NaN,NaN,NaN,2.41,...,8.15,NaN,NaN,0.0,2.04,3.11,164.0,2.26,5.45,155.0

In [125]:
(df3.loc[df3["region"] == "Middle East & North Africa"]
    .sort_values("hf_score", ascending=False)
    .groupby(["countries"]).mean())

,year,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,pf_ss_homicide,pf_ss_disappearances_disap,...,pf_identity_fgm,pf_identity_inheritance_widows,pf_identity_inheritance_daughters,pf_identity_inheritance,pf_identity,pf_score,pf_rank,pf_womens,ef_score,ef_rank
countries,,,,,,,,,,,,,,,,,,,,,
Algeria,2013.5,5.238333,147.583333,4.000000,5.110000,5.606667,4.336667,4.220833,9.657500,8.333333,...,10.000000,1.666667,1.666667,2.083333,3.020833,5.400833,143.750000,3.929167,5.009167,151.083333
Bahrain,2013.5,5.821667,133.416667,3.750000,NaN,NaN,NaN,5.848333,9.833333,9.166667,...,10.000000,0.000000,0.000000,1.250000,5.312500,4.850833,149.333333,5.582500,7.180833,65.916667
"Egypt, Arab Rep.",2013.5,4.786667,151.250000,4.000000,2.922500,4.113333,4.222500,3.754167,9.328333,2.916667,...,1.021667,0.000000,0.000000,1.250000,0.570833,4.153333,159.333333,1.643333,5.674167,136.333333
"Iran, Islamic Rep.",2013.5,4.739167,152.583333,4.000000,2.549167,5.716667,4.217500,4.159167,9.232500,1.250000,...,10.000000,1.666667,0.000000,1.666667,2.917500,4.256667,159.500000,3.431667,5.414167,144.250000
Iraq,2013.5,5.025000,154.500000,4.000000,NaN,NaN,NaN,2.723333,7.105000,3.750000,...,9.230000,0.000000,0.000000,0.000000,0.770000,4.609167,157.500000,2.621667,5.587500,148.750000
Israel,2013.5,7.574167,62.833333,2.083333,NaN,NaN,NaN,6.743333,9.525833,10.000000,...,9.791667,10.000000,10.000000,9.375000,7.918333,7.650000,76.583333,8.055000,7.470833,47.833333
Jordan,2013.5,6.852500,98.666667,3.000000,4.757500,6.298333,5.570000,5.540833,9.514167,9.583333,...,9.791667,0.000000,0.000000,1.250000,5.262500,6.420833,115.000000,5.400833,7.459167,48.500000
Kuwait,2013.5,6.352500,117.083333,3.500000,NaN,NaN,NaN,5.660000,9.475833,9.583333,...,10.000000,1.666667,0.000000,1.666667,4.795833,6.082500,124.166667,6.150000,6.730000,92.333333
Lebanon,2013.5,6.836000,100.600000,3.000000,5.373333,4.517500,4.050000,4.647500,8.930833,7.916667,...,10.000000,1.666667,1.666667,2.250000,3.178333,6.580000,112.000000,4.764167,7.084000,73.200000
Libya,2013.5,5.125714,152.285714,4.000000,NaN,NaN,NaN,2.994167,9.199167,6.250000,...,10.000000,0.000000,0.000000,3.214286,6.147500,5.210833,147.750000,5.691667,4.952857,156.571429
Morocco,2013.5,6.075833,126.083333,4.000000,3.061667,5.336667,3.627500,4.010000,9.595833,9.166667,...,10.000000,0.000000,0.000000,1.250000,3.442500,5.761667,134.500000,3.814167,6.511667,104.166667
Oman,2013.5,5.951667,129.166667,4.000000,NaN,NaN,NaN,5.957500,9.717500,8.333333,...,9.583333,0.000000,0.000000,1.250000,2.708333,5.337500,146.500000,3.335000,6.811667,87.500000
Qatar,2013.5,6.164000,124.700000,4.000000,NaN,NaN,NaN,6.457500,9.882500,9.166667,...,9.100000,0.000000,0.000000,0.000000,1.895833,5.446667,142.583333,2.672500,7.112000,71.500000
Saudi Arabia,2013.5,4.923000,153.800000,4.000000,NaN,NaN,NaN,5.399167,9.612500,7.500000,...,9.700000,0.000000,0.000000,0.500000,2.125000,3.870000,161.250000,2.098333,6.349000,113.600000
Syrian Arab Republic,2013.5,3.981667,155.166667,4.000000,NaN,NaN,NaN,3.079167,9.411667,1.250000,...,10.000000,1.666667,1.666667,2.083333,3.020833,3.097500,164.166667,3.355000,5.234167,146.333333
Tunisia,2013.5,6.274167,117.916667,3.250000,4.801667,5.201667,4.684167,4.896667,9.144167,10.000000,...,10.000000,0.000000,0.000000,1.250000,3.442500,6.281667,118.916667,4.491667,6.264167,115.583333
Turkey,2013.5,6.527500,109.666667,3.333333,3.996667,4.906667,3.957500,4.285000,8.898333,8.333333,...,9.791667,10.000000,10.000000,9.375000,9.168333,6.251667,120.166667,8.604167,6.912500,82.416667
United Arab Emirates,2013.5,6.126667,123.916667,4.000000,5.629167,6.405000,7.245833,6.426667,9.806667,7.916667,...,9.250000,0.000000,0.000000,1.250000,2.625000,5.380000,145.083333,3.095000,7.171667,66.833333
"Yemen, Rep.",2013.5,4.861000,151.800000,4.000000,NaN,NaN,NaN,3.055833,8.261667,2.500000,...,7.160000,0.000000,0.000000,0.500000,1.596667,4.087500,159.416667,2.320000,6.150000,122.500000

In [127]:
# (df3.loc[df3["region"] == "Middle East & North Africa"]
#     .sort_values("hf_score", ascending=False).groupby(["year"]).mean())

(df3.sort_values("hf_score", ascending=False).groupby(["year"]).mean())

,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,pf_ss_homicide,pf_ss_disappearances_disap,pf_ss_disappearances_violent,...,pf_identity_fgm,pf_identity_inheritance_widows,pf_identity_inheritance_daughters,pf_identity_inheritance,pf_identity,pf_score,pf_rank,pf_womens,ef_score,ef_rank
year,,,,,,,,,,,,,,,,,,,,,
2008,7.302837,71.000000,2.510638,5.777396,5.577396,5.345313,5.237879,7.882485,8.680982,9.168788,...,9.220567,NaN,NaN,7.518248,7.109146,7.354512,82.365854,7.679091,6.818369,70.758865
2009,7.287163,71.000000,2.510638,5.777396,5.577396,5.345313,5.230970,7.903939,8.558282,9.274242,...,9.220567,NaN,NaN,7.518248,7.109146,7.332256,82.396341,7.676970,6.823191,70.751773
2010,7.236601,77.000000,2.509804,5.777396,5.577396,5.345313,5.231879,7.889576,8.588957,9.423758,...,9.209804,NaN,NaN,7.297297,7.319697,7.391333,82.860606,7.783030,6.821307,76.718954
2011,7.239804,76.843137,2.509804,5.777396,5.577396,5.345313,5.224545,7.902424,8.067485,9.262242,...,9.281699,6.700000,6.666667,6.683333,7.168848,7.376606,82.787879,7.651515,6.854967,76.784314
2012,7.222092,76.810458,2.509804,5.555361,5.371443,4.873299,5.059455,7.957697,8.506098,9.304545,...,9.281699,6.700000,6.666667,6.683333,7.168848,7.355152,82.781818,7.657152,6.856405,76.771242
2013,7.181911,78.802548,2.509554,5.491200,5.539100,4.889000,5.087818,8.019333,8.658537,9.359394,...,9.377070,6.085526,6.085526,6.085526,7.089576,7.312970,82.848485,7.577576,6.853057,78.777070
2014,7.173899,79.830189,2.509434,5.490190,5.566476,4.954667,5.132606,8.039455,7.957317,9.143818,...,9.348428,6.071429,6.071429,6.071429,7.133879,7.285818,82.806061,7.610667,6.891069,79.761006
2015,7.150629,79.798742,2.509434,5.478846,5.564904,4.900288,5.099273,8.099939,8.292683,9.021455,...,9.348428,6.071429,6.071429,6.071429,7.144000,7.254424,82.896970,7.610424,6.881069,79.798742
2016,7.122469,81.265432,2.512346,5.478846,5.564904,4.900288,5.072788,8.062667,8.680982,9.213818,...,9.301235,6.019108,6.019108,6.019108,7.152182,7.252788,82.836364,7.594242,6.885062,81.283951
2017,7.131049,81.290123,2.512346,5.288034,5.489658,4.748034,5.063818,8.089515,8.549383,9.200848,...,9.356790,NaN,NaN,6.750000,7.329939,7.266061,82.872727,7.723818,6.886975,81.265432
2018,7.151420,81.345679,2.512346,5.227983,5.502857,4.714118,5.061818,8.126810,8.549383,9.259394,...,9.361049,NaN,NaN,6.750000,7.353758,7.270182,82.842424,7.742788,6.922531,81.203704
2019,7.123515,82.824242,2.509091,5.227983,5.502857,4.714118,5.062242,8.126810,8.549383,9.103636,...,9.254424,NaN,NaN,6.656442,7.384848,7.259636,82.818182,7.739030,6.931091,82.781818

In [142]:
(df2[['year', 'countries', 'hf_score', 'ef_score', 'pf_score']]
    .groupby(["countries"]).mean()
    .sort_values("hf_score", ascending=False))

                        year  hf_score  ef_score  pf_score
countries
New Zealand           2013.5  9.081667  8.487500  9.502500
Switzerland           2013.5  9.075833  8.470000  9.510000
Denmark               2013.5  8.987500  8.068333  9.642500
Ireland               2013.5  8.905833  8.126667  9.464167
Australia             2013.5  8.904167  8.180000  9.420000
...                      ...       ...       ...       ...
Egypt, Arab Rep.      2013.5  4.786667  5.674167  4.153333
Venezuela, RB         2013.5  4.748333  3.333333  5.761667
Iran, Islamic Rep.    2013.5  4.739167  5.414167  4.256667
Sudan                 2013.5  4.140000  4.427500  3.715833
Syrian Arab Republic  2013.5  3.981667  5.234167  3.097500

[165 rows x 4 columns]

In [143]:
(df2[['year', 'countries', 'hf_score', 'ef_score', 'pf_score']]
    .groupby(["year"]).mean()
    .sort_values("hf_score", ascending=False))

      hf_score  ef_score  pf_score
year
2008  7.302837  6.818369  7.354512
2009  7.287163  6.823191  7.332256
2011  7.239804  6.854967  7.376606
2010  7.236601  6.821307  7.391333
2012  7.222092  6.856405  7.355152
2013  7.181911  6.853057  7.312970
2014  7.173899  6.891069  7.285818
2018  7.151420  6.922531  7.270182
2015  7.150629  6.881069  7.254424
2017  7.131049  6.886975  7.266061
2019  7.123515  6.931091  7.259636
2016  7.122469  6.885062  7.252788

In [155]:
dfmedia = df3.loc[(df3["pf_expression_internet"] > 9) & (df3["pf_expression_media"] > 9)].drop(columns=['region'])
dfmedia

,year,countries,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,pf_ss_homicide,...,pf_identity_fgm,pf_identity_inheritance_widows,pf_identity_inheritance_daughters,pf_identity_inheritance,pf_identity,pf_score,pf_rank,pf_womens,ef_score,ef_rank
11,2019,Barbados,7.92,51.0,2.0,7.28,6.43,5.74,6.48,7.15,...,10.0,NaN,NaN,10.0,7.50,8.65,39.0,7.95,6.91,87.0
13,2019,Belgium,8.61,23.0,1.0,8.80,7.59,7.07,7.82,9.51,...,10.0,NaN,NaN,10.0,10.00,9.31,15.0,9.98,7.62,45.0
25,2019,Cabo Verde,8.26,36.0,1.0,NaN,NaN,NaN,5.99,8.02,...,10.0,NaN,NaN,10.0,8.13,8.70,36.0,8.41,7.65,41.0
28,2019,Canada,8.85,6.0,1.0,8.71,7.04,7.41,7.72,9.48,...,10.0,NaN,NaN,10.0,10.00,9.40,8.0,9.90,8.06,14.0
31,2019,Chile,8.44,28.0,1.0,7.68,6.31,5.60,6.53,8.72,...,10.0,NaN,NaN,10.0,9.38,8.86,31.0,9.48,7.85,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1957,2008,Sweden,8.83,11.0,1.0,9.50,7.78,8.23,8.50,9.74,...,9.5,NaN,NaN,10.0,9.88,9.64,2.0,9.86,7.70,26.0
1958,2008,Switzerland,9.07,2.0,1.0,NaN,NaN,NaN,8.03,9.79,...,9.5,NaN,NaN,10.0,9.88,9.54,7.0,9.83,8.41,4.0
1966,2008,Trinidad and Tobago,7.47,63.0,2.0,NaN,NaN,NaN,4.89,0.00,...,10.0,NaN,NaN,5.0,6.25,7.62,77.0,6.90,7.26,53.0
1973,2008,United States,8.87,7.0,1.0,7.27,6.53,6.54,6.78,8.42,...,9.5,NaN,NaN,10.0,9.88,9.24,22.0,9.87,8.37,5.0
1974,2008,Uruguay,8.36,33.0,1.0,7.03,7.14,5.04,6.40,8.08,...,10.0,NaN,NaN,10.0,10.00,9.19,25.0,9.90,7.21,57.0

In [157]:
dfmedia[dfmedia.columns[0:5]].dropna()

      year            countries  hf_score  hf_rank  hf_quartile
11    2019             Barbados      7.92     51.0          2.0
13    2019              Belgium      8.61     23.0          1.0
25    2019           Cabo Verde      8.26     36.0          1.0
28    2019               Canada      8.85      6.0          1.0
31    2019                Chile      8.44     28.0          1.0
...    ...                  ...       ...      ...          ...
1957  2008               Sweden      8.83     11.0          1.0
1958  2008          Switzerland      9.07      2.0          1.0
1966  2008  Trinidad and Tobago      7.47     63.0          2.0
1973  2008        United States      8.87      7.0          1.0
1974  2008              Uruguay      8.36     33.0          1.0

[360 rows x 5 columns]

In [158]:
# df6[df6.columns[0:5]]
dfmedia[['year', 'countries', 'hf_score', 'hf_rank', 'hf_quartile', 'pf_expression_killed', 'pf_expression_jailed', 'pf_expression_media', 'pf_expression_cultural', 
    'pf_expression_gov', 'pf_expression_internet', 'pf_expression_harass', 'pf_expression_selfcens', 'pf_expression_freedom_bti', 'pf_expression_freedom_cld', 
    'pf_expression_freedom', 'pf_expression', 'pf_expression_rank', 'pf_score', 'pf_rank']].dropna()

,year,countries,hf_score,hf_rank,hf_quartile,pf_expression_killed,pf_expression_jailed,pf_expression_media,pf_expression_cultural,pf_expression_gov,pf_expression_internet,pf_expression_harass,pf_expression_selfcens,pf_expression_freedom_bti,pf_expression_freedom_cld,pf_expression_freedom,pf_expression,pf_expression_rank,pf_score,pf_rank
31,2019,Chile,8.44,28.0,1.0,10.0,10.0,10.0,8.89,7.51,9.69,7.07,6.98,10.0,10.0,10.00,8.90,26,8.86,31.0
37,2019,Costa Rica,8.25,37.0,1.0,10.0,10.0,10.0,9.41,9.02,9.92,6.99,9.27,10.0,10.0,10.00,9.40,13,8.66,38.0
48,2019,Estonia,8.91,4.0,1.0,10.0,10.0,10.0,8.65,9.78,9.90,8.83,7.50,10.0,10.0,10.00,9.41,12,9.48,6.0
76,2019,Jamaica,7.91,52.0,2.0,10.0,10.0,10.0,9.43,8.85,9.91,6.76,8.86,10.0,10.0,10.00,9.31,17,8.06,57.0
90,2019,Lithuania,8.68,19.0,1.0,10.0,10.0,10.0,8.04,8.11,9.89,9.07,8.86,9.0,7.5,8.25,9.13,20,9.01,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1891,2008,Jamaica,7.57,60.0,2.0,10.0,10.0,10.0,9.43,8.85,9.91,6.24,7.48,10.0,7.5,8.75,8.96,32,7.87,65.0
1905,2008,Lithuania,8.27,36.0,2.0,10.0,10.0,10.0,9.34,9.48,9.89,8.11,8.81,10.0,7.5,8.75,9.38,19,8.83,35.0
1937,2008,Poland,8.44,29.0,1.0,10.0,10.0,10.0,9.58,9.57,9.71,8.90,9.52,10.0,7.5,8.75,9.56,12,9.41,10.0
1949,2008,Slovak Republic,8.48,28.0,1.0,10.0,10.0,10.0,9.04,8.81,9.87,6.45,8.67,10.0,10.0,10.00,9.20,29,9.01,31.0
1974,2008,Uruguay,8.36,33.0,1.0,10.0,10.0,10.0,9.87,9.39,9.91,8.15,9.10,10.0,10.0,10.00,9.60,9,9.19,25.0

In [179]:
df5 = (df2[['year', 'countries', 'region', 'hf_score', 'hf_rank', 'pf_score', 'ef_score']]
    .loc[df2["region"] == "Middle East & North Africa"]
    .sort_values(["year", "hf_score"], ascending=False)
    .dropna())
df5

,year,countries,region,hf_score,hf_rank,pf_score,ef_score
74,2019,Israel,Middle East & North Africa,7.66,62.0,7.69,7.63
78,2019,Jordan,Middle East & North Africa,6.91,94.0,6.42,7.59
86,2019,Lebanon,Middle East & North Africa,6.76,108.0,6.76,6.76
152,2019,Tunisia,Middle East & North Africa,6.46,116.0,6.82,5.97
82,2019,Kuwait,Middle East & North Africa,6.34,121.0,6.07,6.72
...,...,...,...,...,...,...,...
1967,2008,Tunisia,Middle East & North Africa,5.52,131.0,4.86,6.43
1861,2008,"Egypt, Arab Rep.",Middle East & North Africa,5.46,132.0,4.92,6.23
1816,2008,Algeria,Middle East & North Africa,5.36,136.0,5.49,5.17
1886,2008,"Iran, Islamic Rep.",Middle East & North Africa,4.98,139.0,4.47,5.69
1959,2008,Syrian Arab Republic,Middle East & North Africa,4.73,140.0,4.25,5.40

In [181]:
df2.groupby(["countries"]).mean().sort_values("hf_score", ascending = False)

,year,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,pf_ss_homicide,pf_ss_disappearances_disap,...,ef_regulation_business_adm,ef_regulation_business_bureaucracy,ef_regulation_business_start,ef_regulation_business_bribes,ef_regulation_business_licensing,ef_regulation_business_compliance,ef_regulation_business,ef_regulation,ef_score,ef_rank
countries,,,,,,,,,,,,,,,,,,,,,
New Zealand,2013.5,9.081667,1.416667,1.0,8.451667,7.724167,7.550000,7.907500,9.720000,10.000000,...,5.142500,8.915833,9.973333,9.679167,9.495833,8.465000,8.611667,9.005000,8.487500,3.250000
Switzerland,2013.5,9.075833,1.583333,1.0,NaN,NaN,NaN,8.100000,9.824167,10.000000,...,5.806667,8.312500,9.456667,9.605000,8.356667,9.309167,8.473333,8.582500,8.470000,3.750000
Denmark,2013.5,8.987500,3.166667,1.0,9.374167,8.288333,8.414167,8.694167,9.719167,10.000000,...,4.315000,7.310833,9.788333,9.935833,9.796667,8.640000,8.297500,8.501667,8.068333,10.583333
Ireland,2013.5,8.905833,6.000000,1.0,NaN,NaN,NaN,7.770833,9.714167,10.000000,...,4.761667,8.438333,9.710833,8.713333,8.140833,9.055833,8.134167,8.053333,8.126667,8.916667
Australia,2013.5,8.904167,5.750000,1.0,8.558333,7.425833,7.338333,7.775833,9.703333,10.000000,...,3.680000,8.758333,9.920000,9.680833,8.689167,8.876667,8.268333,8.538333,8.180000,7.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Egypt, Arab Rep.",2013.5,4.786667,151.250000,4.0,2.922500,4.113333,4.222500,3.754167,9.328333,2.916667,...,3.802500,2.646667,9.568333,2.216667,7.711667,5.190000,5.187500,4.970000,5.674167,136.333333
"Venezuela, RB",2013.5,4.748333,152.083333,4.0,1.953333,3.299167,1.734167,2.329167,0.000000,9.583333,...,1.285833,0.585000,5.371667,2.728333,4.869167,0.787500,2.605000,3.527500,3.333333,155.416667
"Iran, Islamic Rep.",2013.5,4.739167,152.583333,4.0,2.549167,5.716667,4.217500,4.159167,9.232500,1.250000,...,3.134545,1.251000,9.095833,5.856667,7.130000,6.340833,5.658333,5.149167,5.414167,144.250000
Sudan,2013.5,4.140000,161.250000,4.0,NaN,NaN,NaN,3.261667,8.500000,3.333333,...,NaN,3.390000,8.660000,2.460833,6.757500,6.630000,5.652500,4.890000,4.427500,161.250000
Syrian Arab Republic,2013.5,3.981667,155.166667,4.0,NaN,NaN,NaN,3.079167,9.411667,1.250000,...,3.214167,1.258000,8.659167,1.406667,8.077500,5.769167,4.381667,5.269167,5.234167,146.333333

In [183]:
#Save and export:

# df3.to_csv("writers.csv", index = False)
df4.to_excel("df4.xlsx", index=False)
df5.to_excel("df5.xlsx", index=False)
# df4.to_csv("df4.txt", index = False, sep = "\t")