In [370]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import sys
sys.path.append('C:/Users/nicol/anaconda3/Lib/site-packages')
import openpyxl

#check screenshot for how to import right from a url

url = "https://www.cato.org/sites/cato.org/files/2021-12/HFI2021.json"
path = "/Users/nicol/Dropbox/Programming/HumanFreedomIndexProject/HFI2021.json"

df1 = pd.read_json(path)
# df1
# print(df1)

# list all columns
cols = list(df1.columns.values)
print(cols)

# big picture stats:
df1.describe()
# df1.info()
# to iterate through all rows - keep for later, just in case
# for index, row in df1.iterrows(): 
#     print(index, row)

['year', 'countries', 'ISO', 'region', 'hf_score', 'hf_rank', 'hf_quartile', 'pf_rol_procedural', 'pf_rol_civil', 'pf_rol_criminal', 'pf_rol', 'pf_ss_homicide', 'pf_ss_disappearances_disap', 'pf_ss_disappearances_violent', 'pf_ss_disappearances_organized', 'pf_ss_disappearances_fatalities', 'pf_ss_disappearances_injuries', 'pf_ss_disappearances_torture', 'pf_ss_killings', 'pf_ss_disappearances', 'pf_ss', 'pf_movement_vdem_foreign', 'pf_movement_vdem_men', 'pf_movement_vdem_women', 'pf_movement_vdem', 'pf_movement_cld', 'pf_movement', 'pf_religion_suppression', 'pf_religion_freedom_vdem', 'pf_religion_freedom_cld', 'pf_religion_freedom', 'pf_religion', 'pf_assembly_entry', 'pf_assembly_freedom_house', 'pf_assembly_freedom_bti', 'pf_assembly_freedom_cld', 'pf_assembly_freedom', 'pf_assembly_parties_barriers', 'pf_assembly_parties_bans', 'pf_assembly_parties_auton', 'pf_assembly_parties', 'pf_assembly_civil', 'pf_assembly', 'pf_assembly_rank', 'pf_expression_killed', 'pf_expression_jailed', 'pf_expression_media', 'pf_expression_cultural', 'pf_expression_gov', 'pf_expression_internet', 'pf_expression_harass', 'pf_expression_selfcens', 'pf_expression_freedom_bti', 'pf_expression_freedom_cld', 'pf_expression_freedom', 'pf_expression', 'pf_expression_rank', 'pf_identity_same_m', 'pf_identity_same_f', 'pf_identity_same', 'pf_identity_divorce', 'pf_identity_fgm', 'pf_identity_inheritance_widows', 'pf_identity_inheritance_daughters', 'pf_identity_inheritance', 'pf_identity', 'pf_score', 'pf_rank', 'pf_womens', 'ef_government_consumption', 'ef_government_transfers', 'ef_government_enterprises', 'ef_government_tax_income', 'ef_government_tax_payroll', 'ef_government_tax', 'ef_government_soa', 'ef_government', 'ef_legal_judicial', 'ef_legal_courts', 'ef_legal_protection', 'ef_legal_military', 'ef_legal_integrity', 'ef_legal_enforcement', 'ef_legal_regulatory', 'ef_legal_police', 'ef_legal', 'ef_money_growth', 'ef_money_sd', 'ef_money_inflation', 'ef_money_currency', 'ef_money', 'ef_trade_tariffs_revenue', 'ef_trade_tariffs_mean', 'ef_trade_tariffs_sd', 'ef_trade_tariffs', 'ef_trade_regulatory_nontariff', 'ef_trade_regulatory_compliance', 'ef_trade_regulatory', 'ef_trade_black', 'ef_trade_movement_foreign', 'ef_trade_movement_capital', 'ef_trade_movement_visit', 'ef_trade_movement', 'ef_trade', 'ef_regulation_credit_ownership', 'ef_regulation_credit_private', 'ef_regulation_credit_interest', 'ef_regulation_credit', 'ef_regulation_labor_minwage', 'ef_regulation_labor_firing', 'ef_regulation_labor_bargain', 'ef_regulation_labor_hours', 'ef_regulation_labor_dismissal', 'ef_regulation_labor_conscription', 'ef_regulation_labor', 'ef_regulation_business_adm', 'ef_regulation_business_bureaucracy', 'ef_regulation_business_start', 'ef_regulation_business_bribes', 'ef_regulation_business_licensing', 'ef_regulation_business_compliance', 'ef_regulation_business', 'ef_regulation', 'ef_score', 'ef_rank']

,year,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,pf_ss_homicide,pf_ss_disappearances_disap,...,ef_regulation_business_adm,ef_regulation_business_bureaucracy,ef_regulation_business_start,ef_regulation_business_bribes,ef_regulation_business_licensing,ef_regulation_business_compliance,ef_regulation_business,ef_regulation,ef_score,ef_rank
count,1980.000000,1867.000000,1867.000000,1867.000000,1249.000000,1249.000000,1249.000000,1980.000000,1976.000000,1957.000000,...,1732.000000,1845.000000,1857.000000,1911.000000,1836.000000,1853.000000,1863.000000,1880.000000,1867.000000,1867.000000
mean,2013.500000,7.190787,78.330477,2.510445,5.512842,5.532914,4.988943,5.130424,8.008148,8.469596,...,4.017979,5.293886,8.941174,5.765144,7.870626,6.935769,6.509152,7.042926,6.870279,78.237815
std,3.452925,1.176588,45.249298,1.119482,2.032690,1.330313,1.629103,1.603769,2.474640,3.049644,...,1.181790,2.562779,1.136564,2.401161,1.623539,2.028033,1.270069,1.043629,0.946626,45.265043
min,2008.000000,3.490000,1.000000,1.000000,1.000000,1.890000,1.290000,1.110000,0.000000,0.000000,...,0.000000,0.000000,0.780000,0.000000,0.000000,0.000000,1.980000,2.500000,2.670000,1.000000
25%,2010.750000,6.360000,39.000000,2.000000,4.030000,4.550000,3.720000,3.930000,7.460000,10.000000,...,3.220000,3.330000,8.660000,3.790000,7.150000,6.330000,5.710000,6.460000,6.230000,39.000000
50%,2013.500000,7.240000,78.000000,3.000000,5.130000,5.340000,4.550000,4.790000,8.985000,10.000000,...,3.985000,5.330000,9.340000,5.710000,8.240000,7.430000,6.580000,7.130000,6.980000,78.000000
75%,2016.250000,8.195000,117.000000,4.000000,7.270000,6.360000,6.160000,6.360000,9.600000,10.000000,...,4.710000,7.330000,9.660000,7.660000,9.070000,8.240000,7.360000,7.750000,7.605000,117.000000
max,2019.000000,9.150000,165.000000,4.000000,9.670000,8.770000,8.720000,8.830000,9.950000,10.000000,...,7.690000,10.000000,9.980000,10.000000,10.000000,9.930000,9.450000,9.430000,9.090000,165.000000

In [371]:
df2 = df1.sort_values("region", ascending=True)
df2[cols].dtypes

year                                   int64
countries                             object
ISO                                   object
region                                object
hf_score                             float64
                                      ...
ef_regulation_business_compliance    float64
ef_regulation_business               float64
ef_regulation                        float64
ef_score                             float64
ef_rank                              float64
Length: 125, dtype: object

In [ ]:
# worldwide averages by region

(df1.groupby("region")
    .mean()
    .sort_values("hf_score", ascending = False))

In [ ]:
# single condition:
df3 = (df1.sort_values("hf_score", ascending=False)
    .loc[df1["region"] == "Middle East & North Africa"])

df3

In [ ]:
#multiple conditions:
df4 = df1.loc[(df1["region"] == "Middle East & North Africa")
    & (df1["year"] == 2019)]
df4

In [ ]:
# dfme = (df1.loc[df1["region"] == "Middle East & North Africa"]
#     .sort_values("hf_score", ascending=False)
#         .drop(columns=['region']))
#     # .groupby(["countries"]).mean())

dfme = (df1[['year', 'countries', 'hf_score', 'hf_rank', 'pf_score', 'ef_score']]
       .loc[df2["region"] == "Middle East & North Africa"]
       .sort_values(["year", "hf_score"], ascending=False))
dfme

In [ ]:
# worldwide averages by country
# 
dfscores = (df1[['year', 'countries', 'hf_score', 'ef_score', 'pf_score']]
    .groupby(["countries"]).mean()
    .sort_values("hf_score", ascending=False))
dfscores

In [ ]:
# worldwide averages by year

(df1[['year', 'countries', 'hf_score', 'ef_score', 'pf_score']]
    .groupby(["year"]).mean()
    .sort_values("year", ascending=True))

In [ ]:
dfmedia = df1.loc[(df1["pf_expression_internet"] > 9) & (df1["pf_expression_media"] > 9)]
dfmedia

In [ ]:
dfmedia[dfmedia.columns[0:5]].dropna()

In [ ]:
# find out if any countries have dropped enough in score to skew the worldwide mean so that it looks like a slight downward trend

    # this section is me trying to figure out how to isolate the 2018 and 2019 hf_score values
    # the next section is me trying to find the difference between them

# dfdec = ((df1[['year', 'countries', 'region', 'hf_score', 'hf_rank', 'pf_score', 'ef_score']]
#     .loc[((df1["pf_score"] < 5) & ((df1["year"] == 2019) | (df1["year"] == 2018)))
#          | ((df1["ef_score"] < 5) & ((df1["year"] == 2019) | (df1["year"] == 2018)))].sort_values("countries")))
# dfdec


# df2019 = ((df1[['year', 'countries', 'region', 'hf_score', 'hf_rank', 'pf_score', 'ef_score']]
#           .loc[((df1["pf_score"] < 5) & (df1["year"] == 2019))
#                | ((df1["ef_score"] < 5) & (df1["year"] == 2019))].sort_values("countries")))
# df2019

# df2018 = ((df1[['year', 'countries', 'region', 'hf_score', 'hf_rank', 'pf_score', 'ef_score']]
#            .loc[((df1["pf_score"] < 5) & (df1["year"] == 2018))
#                | ((df1["ef_score"] < 5) & (df1["year"] == 2018))].sort_values("countries")))
# df2018


df2019 = ((df1[['year', 'countries', 'region', 'hf_score', 'hf_rank', 'pf_score', 'ef_score']]
           .loc[(df1["year"] == 2019)]
             .sort_values("countries")))
df2019

df2018 = ((df1[['year', 'countries', 'region', 'hf_score', 'hf_rank', 'pf_score', 'ef_score']]
           .loc[(df1["year"] == 2018)]
             .sort_values("countries")))
df2018

In [ ]:
#show list of Middle Eastern country names for the line graph in the next section
dfme.groupby("countries").mean()

In [ ]:
# plot ME countries

dfmeE = (dfme[["year", "countries", "hf_score"]]
    .loc[(dfme["countries"] == "Egypt, Arab Rep.")])

dfmeI = (dfme[["year", "countries", "hf_score"]]
         .loc[(dfme["countries"] == "Israel")])

dfmeJ = (dfme[["year", "countries", "hf_score"]]
         .loc[(dfme["countries"] == "Jordan")])

dfmeL = (dfme[["year", "countries", "hf_score"]]
         .loc[(dfme["countries"] == "Lebanon")])

dfmeS = (dfme[["year", "countries", "hf_score"]]
         .loc[(dfme["countries"] == "Syrian Arab Republic")])

dfmeIR = (dfme[["year", "countries", "hf_score"]]
         .loc[(dfme["countries"] == "Iraq")])

xE = dfmeE["year"]
yE = dfmeE["hf_score"]
xIR = dfmeIR["year"]
yIR = dfmeIR["hf_score"]
xI = dfmeI["year"]
yI = dfmeI["hf_score"]
xJ = dfmeJ["year"]
yJ = dfmeJ["hf_score"]
xL = dfmeL["year"]
yL = dfmeL["hf_score"]
xS = dfmeS["year"]
yS = dfmeS["hf_score"]

plt.plot(xE, yE, label="Egypt")
plt.plot(xIR, yIR, label="Iraq")
plt.plot(xI, yI, label="Israel")
plt.plot(xJ, yJ, label="Jordan")
plt.plot(xL, yL, label="Lebanon")
plt.plot(xS, yS, label="Syria")

plt.title("HFI scores from 2008-2019", fontdict = {"fontname": "Arial", "fontsize": 20})
plt.xlabel("Year")
plt.ylabel("Human Freedom Score")

# plt.xticks([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019])
plt.yticks([1,2,3,4,5,6,7,8,9])
plt.legend()
fig = matplotlib.pyplot.gcf()
fig.savefig('mehfiline.png', dpi=300)

plt.show()

In [ ]:
# # attempt to plot ME countries more effectively

# # country = ["Algeria", "Bahrain", "Egypt, Arab Rep.", "Iran, Islamic Rep.", "Iraq", "Israel", "Jordan", "Kuwait", "Lebanon", "Libya", "Morocco", "Oman",
# #     "Qatar", "Saudi Arabia", "Syrian Arab Republic", "Tunisia", "Turkey", "United Arab Emirates", "Yemen, Rep."]

# for countries in dfme:
#     x = dfme["year"]
#     y = dfme["hf_score"]
#     plt.scatter(x, y)
#     plt.plot(x, y)
#     # plt.legend(dfme.loc[(dfme["countries"])])

# plt.title("HFI scores from 2008-2019",
#           fontdict={"fontname": "Arial", "fontsize": 20})
# plt.xlabel("Year")
# plt.ylabel("Human Freedom Score")

# # plt.xticks([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019])
# plt.yticks([2, 3, 4, 5, 6, 7, 8, 9])
# # plt.legend()
# fig = matplotlib.pyplot.gcf()
# fig.savefig('mehfiline2.png', dpi=300)

# plt.show()

In [ ]:
# pivot tables

dfme = (df1[['year', 'countries', 'region', 'hf_score']]
        .loc[df2["region"] == "Middle East & North Africa"]
        .sort_values(["year", "countries"], ascending=False))

dfmepivot = pd.pivot_table(data=dfme, index=['countries', 'year'])
dfmepivot


dfmepivot2 = pd.pivot_table(
    data=dfme, index=['year'], columns=["countries"])
dfmepivot2

In [ ]:
# attempt 2 to plot ME countries more effectively - with pivot table

labels = ["Algeria", "Bahrain", "Egypt, Arab Rep.", "Iran, Islamic Rep.", "Iraq", "Israel", "Jordan", "Kuwait", "Lebanon", "Libya", "Morocco", "Oman", 
    "Qatar", "Saudi Arabia", "Syrian Arab Republic", "Tunisia", "Turkey", "United Arab Emirates", "Yemen, Rep."]

colors = ['#f44336', '#e81e63', '#9c27b0', '#673ab7', '#3f51b5', '#0a6ebd', '#03a9f4', '#00bcd4', '#009688', '#4caf50',
          '#8bc34a', '#cddc39', '#ffc107', '#ff9800', '#ff5722', '#795548', '#9e9e9e', '#607d8b', '#ffffff']

ax = dfmepivot2.plot(color=colors)

ax.legend(bbox_to_anchor=(1.0, 0.8), labels=labels)
# plt.style.use("signature_style_1.ipynb")

plt.title("HFI scores from 2008-2019",
          fontdict={"fontname": "Arial", "fontsize": 20})
plt.xlabel("Year", fontdict={"fontname": "Arial", "fontsize": 15})
plt.ylabel("Human Freedom Score", fontdict={
           "fontname": "Arial", "fontsize": 15})
fig = plt.gcf()
fig.savefig('mehfiline2.png', dpi=300)

plt.show()

In [ ]:
# this is interesting. Try a box and whisker chart to follow up on the lower outliers.

plt.scatter(df1["year"], df1["hf_score"], color="#673ab7")

plt.title("HFI scores from 2008-2019",
          fontdict={"fontname": "Arial", "fontsize": 20})
plt.xlabel("Year")
plt.ylabel("Human Freedom Score")

# plt.xticks([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019])
plt.yticks([3, 4, 5, 6, 7, 8, 9, 10])
fig = matplotlib.pyplot.gcf()
fig.set_size_inches(10, 10)
fig.savefig('hfiscatter.png', dpi=300)

plt.show()

In [ ]:
# box and whiskers plot

df1.boxplot(column=['hf_score'], by='region', color="#e81e63")
# plt.title("HFI scores from 2008-2019",
#           fontdict={"fontname": "Arial", "fontsize": 20})
plt.xlabel("Region", fontdict={"fontname": "Arial", "fontsize": 15})
plt.ylabel("Human Freedom Score", fontdict={
           "fontname": "Arial", "fontsize": 15})
plt.xticks(rotation=90)

fig = plt.gcf()
fig.savefig('regionhfibox.png', dpi=300)

plt.show()

In [ ]:
#solve difference problem with pivot table

dfregion = (df1[["year", "countries", "region", "hf_score"]]
            .sort_values(["year", "region"], ascending=False))
dfregion

dfregionpivot = pd.pivot_table(data=dfregion, index=['year'], columns=["region"])
dfregionpivot

# dfdec["hfdiff"] = dfregionpivot["2018"] - dfregionpivot["2019"]

In [ ]:
# plotting by region. try this for a simpler version of the dfme plot

labels = ["Caucasus & Central Asia", "East Asia", "Eastern Europe", "Latin America & the Caribbean", "Middle East & North Africa", "North America", "Oceania",
          "South Asia", "Sub-Saharan Africa", "Western Europe"]
colors = ['#e81e63', '#9c27b0', '#673ab7', '#3f51b5', '#03a9f4',
          '#009688', '#4caf50', '#cddc39', '#ffc107', '#ff9800']

ax = dfregionpivot.plot(color=colors)

ax.legend(bbox_to_anchor=(1.0, 0.8), labels=labels)
# plt.style.use("signature_style_1.ipynb")

plt.title("HFI scores from 2008-2019",
          fontdict={"fontname": "Arial", "fontsize": 20})
plt.xlabel("Year", fontdict={"fontname": "Arial", "fontsize": 15})
plt.ylabel("Human Freedom Score", fontdict={
           "fontname": "Arial", "fontsize": 15})

fig = plt.gcf()
fig.savefig('regionhfiline.png', dpi=500)

plt.show()

In [413]:
# insert columns for evaluations e.g. "very free", "not free"

dfstatus = (df1[["year", "countries", "region", "hf_score"]]
    .dropna())

# this works:
# dfstatus["freedom_status"] = df1["hf_score"]

# this puts "very free" in every cell of the "freedom_status column":
# if dfstatus.iloc([dfstatus["hf_score"]] == 8.00):
#     dfstatus["freedom_status"] = "very free"
# else:
#     dfstatus["freedom_status"] = "not very free"  

# try this from https://www.geeksforgeeks.org/ways-to-apply-an-if-condition-in-pandas-dataframe/:
# df.loc[df[‘column name’] condition, ‘new column name’] = ‘value if condition is met’

dfstatus.loc[dfstatus["hf_score"] >= 8.0, "freedom_status"] = "very free"
dfstatus.loc[(dfstatus["hf_score"] >= 6.0) & (
    dfstatus["hf_score"] < 8.0), "freedom_status"] = "mostly free"
dfstatus.loc[(dfstatus["hf_score"] >= 4.0) & (
    dfstatus["hf_score"] < 6.0), "freedom_status"] = "not very free"
dfstatus.loc[dfstatus["hf_score"] < 4.0, "freedom_status"] = "not free"

# test:
# dfstatus.sort_values("freedom_status")

dfstatus

,year,countries,region,hf_score,freedom_status
0,2019,Albania,Eastern Europe,8.14,very free
1,2019,Algeria,Middle East & North Africa,5.26,not very free
2,2019,Angola,Sub-Saharan Africa,6.09,mostly free
3,2019,Argentina,Latin America & the Caribbean,7.38,mostly free
4,2019,Armenia,Caucasus & Central Asia,8.20,very free
...,...,...,...,...,...
1974,2008,Uruguay,Latin America & the Caribbean,8.36,very free
1975,2008,"Venezuela, RB",Latin America & the Caribbean,5.44,not very free
1976,2008,Vietnam,South Asia,5.97,not very free
1978,2008,Zambia,Sub-Saharan Africa,7.32,mostly free
1979,2008,Zimbabwe,Sub-Saharan Africa,5.20,not very free

In [ ]:
# Applying IF condition with lambda
# Try this from https://www.geeksforgeeks.org/ways-to-apply-an-if-condition-in-pandas-dataframe/:

# df[‘new column name’] = df[‘column name’].apply(lambda x: ‘value if condition is met’ if x condition else ‘value if condition is not met’)

In [ ]:
# figure out the transpose function to switch columns and rows?
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transpose.html

In [ ]:
# look at indexing data
# https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# Save and export:

# df3.to_csv("writers.csv", index = False)
dfme.to_excel("dfme.xlsx", index=False)
dfregion.to_excel("dfregion.xlsx", index=False)
# df4.to_csv("df4.txt", index = False, sep = "\t")